* {
  box-sizing: border-box;
  margin-left:20px;
}

#headerh2{
	font-size: 30px;
	font-family:cursive
  
}

#headerdiv{
  display:block;
	margin-left: 10px;
	margin-bottom: 25px;
}
#headerp {
	margin: 0;
	font-size: xx-small;
}
#hero{
  width:910px;
	margin-top: 20px;
}
header {
  display:flex;
  margin-left: 50px;
	justify-content: center;
	
}
body {
  width:960px;
	margin:auto;
}
#sociallist{
  margin-left: 500px;
	margin-top: 5px;

}
#sharelist {
  margin-left:15px;
	margin-top: 5px;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
h1{
  font-size: 26pt;
  margin-top: 25px;
	margin-bottom:5px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#grey{
height: 10px;
background-color: rgb(75, 74, 74,.3);
width:910px;
margin-left: 50px;
}

#date {
	font-size: 11px;
	color: rgb(75, 74, 74,.5);

}
p {
  margin: 25px; 
}

input[type=checkbox]:checked + label {
  text-decoration: line-through;
} 

fieldset{
  background-image: url("/img/list-bg.png");
  background-position: center;
  background-size:auto;
  background-size: 960px;
  height: 200px;
}
fieldset ul {
	margin-left:110px;
  margin-top: 45px;
  display: inline-block;
  justify-content: center;
}


#endsection{
	height: 50px;
  width: 950px;
  display:flex;
  justify-content: left;
}

footer{
  text-align: center;
  padding: 2rem;
}



h3 {
	font-weight: bolder;
	margin-top: 10px;
	margin-left: 5px;
	height: 5px;
}

#pend{
	font-size: smaller;
	margin-left: 5px;
	color: rgb(75, 74, 74,.5);
}
button{
	background-color: rgba(255, 68, 0, 0.738);
	height: 40px;
	width: 150px;
	margin-top: 25px;
	margin-left: 265px;
	color: white;
}
#endgrey{
	height: 10px;
	background-color: rgb(75, 74, 74,.3);
	width:910px;
	margin-top: 15px;
	margin-bottom: 15px;
}
#footerp {
	color: rgb(75, 74, 74,.5);
	font-size: 12px;
	
}